* {
	margin: 0;
	padding: 0;
	background-color: black;
}

.canvas-container {
	margin: 0 auto;
	width: 100%;
}

#canvas-main {
	height: 700px;
	width: 1300px;
	margin: 10px auto;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
	background-color: #000;
}

#brick-canvas {
	position: absolute;
	height: 700px;
	width: 1300px;
	/*border: 2px solid green;*/
	top: 10px;
	left: 50%;
	margin-left: -650px;
	pointer-events:none;
    background:none;
}

.canvas-container-side {
	background-color: green;
	height: 600px;
	margin: 10px 0;
}
